*{
    margin:0px;
    padding:0px;
    font-family: work sans;
}
.heading{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color:rgb(249, 244, 237);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.heading-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.logo{
    display:flex;
    gap:20px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}
.logo-img{
    width:100%;
    height:40px;
    padding-top: 15px;
}
.game-G{
    color:deeppink;
    font-size: larger;
}
.header-info ul{
    list-style:none;
    display:flex;
    gap:30px;
}
.header-info:hover{
    color:brown;
}
.icon{
    padding-left: 15px;
}
.heading-box{

    width: 180px;
    height: 40px;
    background-color:rgba(98, 96, 106, 0.1);
    border-radius: 5px;
    gap:15px;
}
.heading-box:hover{
    color:brown;
    background-color:rgb(222, 195, 186);
}
/* goat section */
.goat{
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap:60px;
}
.goat-description{
   background: url(../img/Group\ 14.png);
   width:60%;
height: 700px;
fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}
.play{
    color: #0B0223;
text-align: center;
font-size: 35px;
font-weight: 800;
padding-top: 200px;
}
.goat h1{
text-align: center;
font-size: 95px;
font-weight: 800;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
G.O.A.T.

}
.second-icon{
    margin-right:20px;
}
.second-icon:hover{
    color:darkred;
}
.goat-info{
    padding-left:300px;
}
.goat-btn{

padding: 15px 40px;
}
#si{
    border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
border-style: none;
margin-left: 300px;
}
#si:hover{
    color:antiquewhite;
    cursor: pointer;
}
#go{
    border-radius: 48px;
background: #4EC5F7;
border-style:none;
margin-left: 40px;
}
#go:hover{
    color: #F948B2;
    cursor:pointer;
}
.goat-pic{
    width:100%;
    height:550px;
}
/* online game section */
.online-game-pic{
    display:flex;
    justify-content:space-around;
    align-items: center;
    gap:25px;
    width:80%;
    margin-left:150px;
}
.first-pic-gone{
    background-image:url(../img/Rectangle\ 4.png);
    width: 340px;
    height:400px;
    border-radius: 15px;
    position:relative;
}
.first-pic-gtwo{
    background-image:url(../img/Rectangle\ 5.png);
    width: 340px;
    height:400px;
    border-radius: 15px;
    position:relative;
}
.first-pic-gthree{
    background-image:url(../img/Rectangle\ 7.png);
    width: 340px;
    height:400px;
    border-radius: 15px;
    position:relative;
}
.first-pic-gfour{
    background-image:url(../img/Rectangle\ 6.png);
    width: 340px;
    height:400px;
    border-radius: 15px;
    position:relative;
}
.online-hover{
    height:100%;
    width:100%;
    background-color:rgba(0,0,0,0.748);
    position:absolute;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#795568;
    visibility: hidden;
}
.watch:hover .online-hover{
    visibility:visible;

}

 .online-game{
       text-align: center;
       padding:30px;
       padding-bottom: 50px;
} 
.Funny{
    color: #0B0223;
font-family: Work Sans;
font-size: 48px;
font-weight: 700;
}
.section{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
    
}


/* play instantly section */
.play-instant{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    gap:70px;
    margin-top: 100px;
}
.first-ins{
    width:80%;
    height:600px;
}
.second-ins{
    width: 318.5px;
height: 365.083px;
   position: relative;
   bottom:100px;
   left:250px;
}
.instan-des{
    padding-bottom: 300px;
}
.instant-pic{
    margin-left: 100px;
}
.instant{
    color: #df78ad;
}
.action{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:20px;
    padding-left: 100px;
    padding-top: 60px;
    background: rgb(250, 242, 230);
    padding-bottom:60px;
}
.type{
    display:flex;
    align-items: center;
    gap:8px
}
.type:hover{
    width: 230px;
    height: 70px;
    border-radius: 50px;
    background: #FFF;
    color:red;
}
/* footer section */
.last-part{
    background-color: #0B0223;
}
.logo-img2{
    width: 5%;
    height: 50px;
}
.logol{
    display:flex;
    gap:20px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}
.amer{
    color:white;
}
.story{
    color:white;
    display:grid;
    grid-template-columns: repeat(6,1fr);
    padding:30px;
    padding: 30px 300px;
    

}
.clickable{
    display:flex;
    justify-content: center;
    gap:30px;
}
.clickable a:hover{
    background-color: rgb(223, 129, 7);
}
.privacy{
    color:#FFF;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding:30px 350px 0px 350px;
}
.copy{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-weight: 500;
padding: 30px;
gap: 60px;
}
@media screen and (max-width:576px) {
    .heading{
        flex-direction: column;
    }
    .header-info ul , span > i{
        flex-direction: column;
        padding-left: 30px;
    } 
    .heading-box{
        grid-template-columns: repeat(1,1fr);
        padding:30px ;
    }
    .icon{
       padding-left: 0px;
       padding-right: 40px; 
    }
    .goat{
        flex-direction: column;
        text-align: start;
    }
    .goat-description{
        width:100%;
        height: 600px;
    }
    .goat-info{
        padding-left:0px;
    }
    #go{
        margin:0px;
        margin-left: 25px;
    }
    #si{
        margin-left: 35px;
    }
    .goat-pic{
        width:80%;
        height:400px;
    }
    .goat-btn{

        padding: 15px 40px;
    }
    .play-instant{
        flex-direction: column;
        gap:10px;
        margin-left: 15px;
    }
    .instant-pic{
        margin-left: 10px;
    }
    .first-ins{
        width:90%;
        height:600px;
    }
    .second-ins{
        left:100px;
        margin-right:20px;
    }
    .instan-des{
        padding-bottom: 80px;
    }
    .action{
        grid-template-columns: repeat(3,1fr);
        padding-left: 0px;
        gap:0px;
        
    }
    .story{
        grid-template-columns: repeat(3,1fr);
    }
    .privacy{
        grid-template-columns: repeat(2,1fr);
        padding:15px;

    }
    .logo-img2{
        width: 15%;
        height: 50px;
    }
    .privacy p{
        padding-top: 25px;
        padding-right: 15px;
    }
    .online-game-pic{
        flex-direction: column;
        gap:25px;
        width:50%;
        margin:0px;
        padding-left:5px;
    }
    .type p{
        font-size: 10px;
        gap:0px;
    }
    .action .type img{
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
    }

    .story{
        grid-template-columns: repeat(3,1fr);
        padding:0px;
        padding-left: 20px;
        padding-bottom: 25px;
}
.story p{
    padding-bottom:10px;
}
}
@media screen and (min-width:576px) and (max-width:992px) {
    .goat{
        flex-direction: column;
    }
        .goat-description{
            width:100%;
            height: 600px;
        }
        .online-game-pic{
            flex-direction:column;
            gap:25px;
            width:80%;
            margin-left:90px;
        }
        .first-ins{
            width:100%;
            height:500px;
        }
        .second-ins{
            left:100px;
            margin-right:20px;
        }
        .instant-pic{
            margin-left: 5px;
        }
        .action{
            grid-template-columns: repeat(3,1fr);
            padding-left: 20px;
            
        }
        .logo-img2{
            width: 15%;
            height: 50px;
        }
        .story{
            grid-template-columns: repeat(6,1fr);
            padding:0px;
            padding-top: 20px;
            padding-left: 20px;
            padding-bottom: 25px;
        }
        .privacy{
            grid-template-columns: repeat(4,1fr);
            padding:15px;
}